body {
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

h1 {
  background-color: lightblue;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 0px;
}

.gallery {


  width: 800px;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
}

.target figure img {
  border-radius: 20px;
  width: 800px;
  height: 400px;
  margin: 0 auto;
}

.gallery .target {
  position: absolute;
  opacity: 0;
  -webkit-transition: 1s;
  -webkit-transform: scale(0,0);
}

.gallery .target:target {
  opacity:1;
  -webkit-transform: scale(1,1);
}
nav {
  text-align:center;
}

nav li {
  margin-top: 20px;
    /* make list elements fall inline as block elements */
    position: relative;
    display: inline-block;
    /* next two lines only for display purposes */
    text-align: center;
}

nav li img {
  height: 60px;
}
