body {
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}
h1 {
  background-color: lightblue;
  border-radius: 200px;
  text-align: center;
}

article {
  display: none;
}



nav li {
    /* make list elements fall inline as block elements */
    position: relative;
    display: inline-block;
    /* next two lines only for display purposes */
    text-align: center;
}

nav li img {
  height: 60px;
}
/* horizontally center ul element */
nav { text-align:center; }
